html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

body, td {
	margin: 0;
	font-family: Open Sans;
	color: rgba(0, 0, 0, 0.87);
	font-size: 13px;
}
.text {
	border: 1px solid #ccc;
	margin: 12px;
	padding: 8px 12px 12px 12px;
}
.text h1 {
	margin-top: 0;
}
.text h3 {
	margin: 0;
}
.options {
	border: 1px solid #ccc;
	margin: 12px;
	padding: 8px 12px 12px 12px;
}
.options h3 {
	margin-top: 0;
}
table {
	width: 100%;
	border-collapse: collapse;
}
thead {
	background-color: white;
}
th {
	text-align: left;
	font-size: 15px;
	padding: 4px 6px;
	top: 0;
	position: sticky;
	outline: 1px solid rgba(0, 0, 0, 0.12);
	background-color: white;
}
th:nth-child(1) {
	padding-left: 4px;
}
td {
	border-top: 1px rgba(0, 0, 0, 0.12) solid;
	max-width: 340px;
	padding-right: 6px;
}
td.image {
	padding: 4px 6px 4px 4px;
	max-width: 250px;
	text-align: center;
}
td.image img {
	max-width: 100%;
	object-fit: contain;
}
a.material-icons {
	color: inherit;
	text-decoration: none;
}

table.risk tr.risk-1 {
	background-color: #ddeeff;
}
table.risk tr.risk-2 {
	background-color: #ccffcc;
}
table.risk tr.risk-3 {
	background-color: #ffffcc;
}
table.risk tr.risk-4 {
	background-color: #ffddcc;
}
table.risk tr.risk-5 {
	background-color: #ffcccc;
}

tbody tr:hover {
	background-color: #f3f3f3;
}
table.risk tr.risk-1:hover {
	background-color: #cddeef;
}
table.risk tr.risk-2:hover {
	background-color: #bcefbc;
}
table.risk tr.risk-3:hover {
	background-color: #efefbc;
}
table.risk tr.risk-4:hover {
	background-color: #efcdbc;
}
table.risk tr.risk-5:hover {
	background-color: #efbcbc;
}

#loaded {
	display: none;
}
.maxFees {
	width: 50px;
}
.providers, .funds {
	column-count: 3;
}
.providers, .funds, .results, .notes {
	border: 1px solid #ccc;
	margin: 12px;
	padding: 10px 12px 12px 12px;
}
.results {
	padding-top: 18px;
}
label.column-item {
	display: block;
}
button {
	font-size: inherit;
	font-family: inherit;
}
#loading {
	display: none;
}
#frontierChartCont {
	float: left;
	width: 600px;
}
.optimiser-stats {
	width: auto;
}
.optimiser-stats td {
	padding-right: 20px;
	font-size: 16px;
}
#pieChartCont {
	float: right;
	width: 600px;
}
.c3-legend-item text, .c3-chart-arc text {
	font-family: Open Sans;
}
